body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.info {
  color: blue;
  font-size: 25px;
  font-weight: 100;
}

.info2{
  color: blue;
  font-size: 20px;
  font-weight: 100;
}

.cons {
  color: red;
  font-size: 20px;
}

.link a {
  color: orange;
  font-size: 15px;
}