h1 {
    color: orangered;
}


h3 {
    color: orangered;
}


.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.list {
    justify-content: space-around;
    display: flex;
    width: 45%;
}

.cardsContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 10px 0px;
}

.resCardContainer {
    width: 20%;
    height: 290px;
    text-align: center;
    margin: 10px 0px;
}

.active-link {
    color: red;
}

.promotedContainer {
    width: 20%;
    border: 1px solid red;
    margin: 10px;

}

.promotedContainer .resCardContainer {
    width: 100%;
}

h8 {
    color: black;
    font-size: 25px;
}

.promoted {
    background: green;
    color: white;
    width: 100%;
    display: block;
    text-align: center;
}

.non-promoted {
    background: red;
    color: white;
    width: 100%;
    display: block;
    text-align: center;
}